h1{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 30px;
    font-size: 2.5rem;
    font-weight: bold;
    color: hwb(315 2% 15%);
}
label{
    color: hsl(286, 53%, 20%);
}
.error{
    color: red;
    font-size: 14px;
}
.required{
    color: brown;
}
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    background-image: url('canva_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

.container {
    position: relative;
    border-radius: 20px;
    background-color: white;
    padding: 30px 20px;
    box-shadow: 0 0 15px #e004f449;
    font-family: 'Nunito', sans-serif;
    width: 100%;
    max-width: 700px;
    margin: auto;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 576px) {
    .container {
        padding: 20px 10px;
    }
}
.btn-primary {
  background: linear-gradient(150deg, #ff85d0, lab(59.88% 75.12 -23.86));
  border: none;
  box-shadow: 0 0 10px purple;
  transition: 0.3s;
  border-radius: 100px;
}

.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px hsl(330, 77%, 71%);
}
.btn-secondary{
    background:linear-gradient(150deg,#ffffff,#ff85d0);
    border: none;
    box-shadow: 0 0 10px purple;
    transition:0.5;
    border-radius: 100px;
}
.form-control:focus {
  border-color: #ff69b4;
  box-shadow: 0 0 5px #ff69b4, 0 0 10px #ff69b4;
}
input, textarea, select {
  transition: all 0.3s ease;
}
.form-check-input:checked {
  background-color: #ff69b4;
  border-color: #ff69b4;
}
@media (max-width: 576px) {
  h1 {
    font-size: 1.8rem;
  }
}
@media (max-width: 576px) {
  .row.align-items-center {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
}
input:hover{
    background-color: #f1c2f6;
}
textarea:hover{
    background-color: #f1c2f6;
}
select:hover{
    background-color: #f1c2f6;
}
option{
    background-color: #f1c2f6;
}
@media (max-width: 576px) {
  h1 {
    font-size: 1.6rem;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .row.align-items-center {
    flex-wrap: nowrap;
  }

  .col-3 {
    flex: 0 0 35%;
    max-width: 35%;
  }

  .col-9 {
    flex: 0 0 65%;
    max-width: 65%;
  }

  label {
    white-space: nowrap;
    font-size: 14px;
  }

  input,
  textarea,
  select,label {
    font-size: 14px;
  }
}
.col-3 {
  flex: 0 0 35%;
  max-width: 35%;
}
.col-9 {
  flex: 0 0 65%;
  max-width: 65%;
}
